include /_mixins

doctype html
html
  head
    title= title
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato')
    +stylesheet_link_tag('application')
  body
    main
      block content
