include /_mixins

doctype html
html
  head
    title= title
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato')
    +stylesheet_link_tag('application')
    +javascript_include_tag('vendor/all')
    +javascript_include_tag('handlebars_templates')
  body
    main
      block content

    +javascript_include_tag('application')
    +javascript_include_tag('models/Album')
    +javascript_include_tag('collections/Albums')
    +javascript_include_tag('views/Album', 'views/NewAlbum', 'views/Index')
    block scripts
