<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>Autocomplete!</title>
  <link rel='stylesheet' href='/stylesheets/normalize.css'>
  <link rel='stylesheet' href='/stylesheets/autocomplete.css'>
  <script src='/javascripts/autocomplete.js'></script>
</head>
<body>
  <div class='app'>
    <p>
      <div class='autocomplete-wrapper'>
        <input name='country' autofocus>
        <ul class='autocomplete-ui'></ul>
        <div class='autocomplete-overlay'></div>
      </div>
    </p>
  </div>
</body>
</html>
