@import url('custom-whitespace-reset.css');

html, body, input, select, button {
  font: normal normal 20px 'Noto Sans', Arial, sans-serif;
}

fieldset {
  font-size: 0;
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
}

input, select, textarea {
  border: solid 1px #000;
  border-radius: 4px;
  padding: 5px;
}

input:focus, select:focus, textarea:focus {
  border: solid 1px #33b5e5;
}

input[type='text'], .email input, .zipcode input {
  width: 100%;
}

select {
  appearance: none; -moz-appearance: none; -webkit-appearance: none;
  padding-left: 6px;
  width: 100%;
}

textarea {
  font: 16px 'Liberation Mono', monospace;
  resize: vertical;
  width: 100%;
}

dl {
  font-size: 1rem;
  margin-bottom: 20px;
  width: 100%;
}

dt {
  margin: 5px 0;
}

dd {
  width: 100%;
}

.partial {
  display: inline-block;
  width: 50%;
}

.name:first-of-type {
  padding-right: 3%;
}

.city {
  width: 65%;
}

form dl.state {
  padding-left: 3%;
  padding-right: 3%;
  width: 12%;
}

dt.state label {
  text-align: center;
}

.zipcode {
  width: 23%;
}

input[type='radio'], input[type='checkbox'] {
  margin: 7px;
}

button {
  background: #333;
  border: none;
  border-radius: 5px;
  color: #eee;
  margin: 10px 15px 0 0 ;
  padding: 5px 10px;
}

button:hover {
  background: #33b5e5;
  color: #000;
}
