@import url('whitespace-reset.css');
body,
input,
button {
  background:     #000;
  caret-color:    #15f4ee;
  color:          #eee;
  font:           normal 20px Helvetica, Arial, sans-serif;
}
main {
  background:     #151515;
  margin:         15px auto;
  padding:        30px;
  text-align:     center;
}
h1 {
  font-size:      30px;
}
figure {
  display:        inline-block;
  padding:        20px;
  position:       relative;
  width:          25%;
}
figcaption {
  background:     rgba(0, 0, 0, .8);;
  display:        none;
  font-size:      14px;
  opacity:        0;
  position:       absolute;
  z-index:        10
}
img {
  border:         15px solid #224;
  vertical-align: top;
  width:          100%;
}
