<!DOCTYPE html>
<html>
<head>
  <title>CMS</title>
  <link rel='stylesheet' href='/stylesheets/cms.css'>
</head>

<body>
  <% if session[:msg] %>
    <div class='msg'><%= session.delete(:msg) %></div>
  <% end %>

  <%= yield %>
</body>
</html>
