colors = {
  bg:      #000,
  main:      #191919,
  text:      #eee,
  highlight: #fff,
  border: #33b5e5,
  button: {
    text: #000,
    bg:   #33b5e5,
  },
}

appearance()
  appearance:         none
  -moz-appearance:    none
  -webkit-appearance: none

button()
  appearance()
  background:      colors.button.bg
  border:          none
  border-radius:   8px
  box-shadow:      2px 2px 0 2px darken(colors.button.bg, 20)
  color:           colors.button.text
  cursor:          pointer
  display:         inline-block
  font-size:       18px
  outline:         none
  padding:         10px 25px
  position:        relative
  text-decoration: none
  transition:      box-shadow 200ms ease, top 200ms ease, left 200ms ease, color 200ms ease
  &:hover,
  &:focus
    color: colors.highlight
  &:active
    box-shadow: 1px 1px 0 1px darken(colors.button.bg, 20)
    left: 2px
    top: 2px
