<ul>
  <% @files.sort.each do |file| %>
    <li>
      <a href='/<%= file %>'><%= file %></a> /
      <a href='/<%= file %>/edit'>edit</a>
      <form class='delete' action='/<%= file %>/delete' method='post'>
        <button type='submit'>delete</button>
      </form>
    </li>
  <% end %>
</ul>

<p><a href='/new'>New Document</a></p>
