<form action='/create' method='post'>
  <label for='filename'>Add a new document:</label>
  <div>
    <input id='filename' name='filename' placeholder='filename.txt' value='<%= params[:filename] %>'>
    <button type='submit'>Create</button>
  </div>
</form>

<br>

<form action='/upload' method='post' enctype='multipart/form-data'>
  <label for='file'>Upload a file:</label>
  <div>
    <input type='file' name='file' multiple>
    <button type='submit'>Upload File</button>
  </div>
</form>
